
//MI PALETA
$COLOR1:#F0A04B ; 
$COLOR2:#E1EEDD;
$COLOR4:rgba(255, 255, 0, 0.687);
//CREADOR WEB HTML - STAR 
.bodyW{
  @include h-w(100vh, 100%);
  background: url(../multimedia/desarrollador.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .web{
  height: 500px;
  background: rgba(0 , 0, 0, .4);
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
  }
  img{
    border-radius: 50%;
  }
  h1{
    font-weight: 600;
  }
  h3{
    color: $COLOR4;
  }
  ul{
    list-style: none;
    margin-top: 20px;
    li{
      display: inline-block;
      padding: 10px;
      font-size: 30px;
    }
  }
}
footer{
  background-color: black !important;
  margin-top: 0;
}
//CREADOR WEB HTML - END 
//INICIO RESPONSIVE */
@media only screen and (min-width: 480px)and (max-width: 768px){
.footer{
  height: 100px;
  margin-top: 0;
    }
}
@media only screen and  (min-width: 719px){
  .web{
    font-size: 30px;
  }
}
@media only screen and (min-width: 1023px) {
.header{
font-size: 25px ;     
}
footer{
  p{
font-size: 20px;}
  a{
    font-size: 30px;
    }
}
}
