@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@200&family=Roboto:wght@300&family=Tilt+Prism&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
* .main-pedido {
  height: 350px;
  width: 100%;
  background-color: gray;
  padding: 0px;
  padding-left: 10px;
  background-image: url(./multimedia/index/Fondo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .main-pedido .pedido-box {
  height: 230px;
  width: 70%;
  background-color: rgba(99, 81, 16, 0.808);
  padding: 10px;
  border: 3px solid orange;
}
* .main-pedido h1 {
  color: black;
  font-weight: 600;
  text-shadow: 2px 2px #F0A04B;
  text-transform: uppercase;
  font-size: 23px;
  font-family: "Raleway", sans-serif;
}
* .main-pedido p {
  color: white;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
* .main-pedido a {
  color: white;
  background-color: orange;
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
}
* .main-pedido a:hover {
  color: orange;
  background-color: white;
}
* .texto-n-e {
  font-size: 20px;
  color: #F0A04B;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
* .nesp {
  height: 1200px;
  width: 100%;
  background-color: #E1EEDD;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* .nesp .pollo-plancha {
  height: 350px;
  width: 90%;
  background-color: rgb(36, 33, 0);
  padding: 5px;
  background: linear-gradient(90deg, rgb(43, 40, 5) 0%, rgb(50, 59, 8) 100%, rgba(89, 255, 0, 0.53) 100%);
  border: 3px solid #F0A04B;
  border-radius: 5px;
  margin: 5px;
  display: block;
}
* .nesp h3 {
  font-size: 15px;
  color: #f39e43;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}
* .nesp p {
  font-size: 15px;
  color: white;
  text-align: start;
}
* .nesp img {
  height: 140px;
  width: 50%;
  margin-left: 25%;
}
* .nesp .rounded {
  height: 140px;
  width: 50%;
  margin-left: 25%;
}
* .nesp .especialidad1 {
  background-image: url("./multimedia/especialidades/especialidad1.jpg");
  background-size: cover;
  background-position: center;
}
* .nesp .especialidad2 {
  background-image: url("./multimedia/especialidades/especialidad2.jpg");
  background-size: cover;
  background-position: center;
}
* .nesp .especialidad3 {
  background-image: url("./multimedia/especialidades/especialidad3.jpg");
  background-size: cover;
  background-position: center;
}
* .nesp .especialidad4 {
  background-image: url("./multimedia/especialidades/especialidad4.jpg");
  background-size: cover;
  background-position: center;
}
* #hora {
  height: 150px;
  width: 100%;
  padding: 4px;
  background-color: rgba(30, 81, 40, 0.8862745098);
  color: white;
}
* #hora h2 {
  text-align: center;
  font-size: 20px;
}
* #hora li {
  text-align: center;
  list-style: none;
  font-size: 15px;
}
* .contacto {
  background-color: #E1EEDD;
  height: 420px;
}
* .contacto h2 {
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: #E1EEDD;
  padding-top: 5px;
}
* .contacto .list-contacto {
  list-style: none;
  padding: 1px;
  text-align: left;
  font-size: 15px;
}
* .contacto .mapa {
  display: flex;
  justify-content: center;
  height: 190px;
}
* .footer {
  background-color: #9D5C0D;
  margin-top: 3px;
  padding: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
* .footer h2 {
  font-size: 20px;
  color: #E1EEDD;
  text-align: center;
  padding: 3px;
}
* .footer p {
  font-size: 12px;
  color: #E1EEDD;
  text-align: center;
}
@media only screen and (min-width: 600px) and (max-width: 719px) {
  * .nesp {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 800px;
  }
  * .nesp .pollo-plancha {
    height: 350px;
    width: 300px;
  }
  * .nesp .text-pollo {
    text-align: center;
    width: 100%;
    font-size: 12px;
  }
}
@media only screen and (min-width: 719px) and (max-width: 1023px) {
  * .texto-n-e {
    font-size: 40px;
    text-align: center;
  }
  * .nesp {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  * .nesp .pollo-plancha {
    height: 250px;
    width: 75%;
    align-items: center;
    align-content: space-between;
    display: flex;
    padding: 5px;
  }
  * .nesp .pollo-plancha .text-pollo {
    font-size: 20px;
    color: white;
    text-align: justify;
    float: left;
    width: 400px;
    padding: 3px;
  }
  * .nesp .pollo-plancha .rounded {
    height: 200px;
    width: 200px;
    float: right;
  }
  * .nesp .pollo-plancha h3 {
    font-size: 20px;
  }
  * .nesp .pollo-plancha p {
    font-size: 15px;
    padding: 3px;
  }
  * #hora {
    height: 170px;
    padding: 3px;
  }
  * #hora h2 {
    font-size: 40px;
  }
  * #hora li {
    font-size: 20px;
  }
  * .contacto {
    height: 500px;
  }
  * .contacto h2 {
    font-size: 40px;
    padding-top: 20px;
  }
  * .contacto .list-contacto {
    font-size: 20px;
    display: flex;
  }
  * .contacto .mapa {
    display: flex;
    justify-content: center;
    height: 240px;
  }
}
@media only screen and (min-width: 1023px) {
  * .header {
    font-size: 25px;
  }
  * .main-pedido {
    height: 450px;
  }
  * .main-pedido .pedido-box {
    height: 300px;
    width: 60%;
    padding: 15px;
    border: 3px solid orange;
  }
  * .main-pedido .pedido-box h1 {
    font-size: 40px;
  }
  * .main-pedido .pedido-box p {
    font-size: 30px;
  }
  * .main-pedido .pedido-box a {
    width: 200px;
    padding: 10px;
    font-size: 20px;
  }
  * .texto-n-e {
    font-size: 45px;
    text-align: center;
  }
  * .nesp {
    justify-content: space-around;
  }
  * .nesp .pollo-plancha {
    height: 250px;
    width: 70%;
    align-items: center;
    align-content: space-around;
    display: flex;
    padding: 5px;
  }
  * .nesp .pollo-plancha .rounded {
    height: 100%;
    width: 60%;
    float: right;
  }
  * .nesp .pollo-plancha h3 {
    font-size: 25px;
  }
  * .nesp .pollo-plancha p {
    font-size: 22px;
    padding: 3px;
    margin-left: 20px;
  }
  * #hora {
    height: 180px;
    padding: 3px;
  }
  * #hora h2 {
    font-size: 40px;
  }
  * #hora li {
    font-size: 20px;
  }
  * .contacto {
    height: 500px;
  }
  * .contacto h2 {
    font-size: 40px;
    padding-top: 20px;
  }
  * .contacto .list-contacto {
    font-size: 20px;
    display: flex;
  }
  * .contacto .mapa {
    display: flex;
    justify-content: center;
    height: 250px;
  }
}
* .nos {
  background-color: #E1EEDD;
  height: auto;
}
* .nos h1 {
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 15px;
  font-style: italic;
}
* .nos .nos-gal {
  text-align: center;
  padding: 5px;
}
* .nos .contenedor {
  height: auto;
  width: 100%;
  background-color: rgb(2, 80, 38);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 200px);
}
* .nos .contenedor .item {
  border: 3px solid rgb(0, 91, 0);
  transition: all 0.5s;
}
* .nos .contenedor .item1 {
  background-image: url("../multimedia/bowl_mix/item1.jpg");
  background-position: center;
  background-size: cover;
}
* .nos .contenedor .item2 {
  background-image: url("../multimedia/bowl_mix/item2.jpg");
  background-position: center;
  background-size: cover;
}
* .nos .contenedor .item3 {
  background-image: url("../multimedia/bowl_mix/item3.jpg");
  background-position: center;
  background-size: cover;
}
* .nos .contenedor .item4 {
  background-image: url("../multimedia/bowl_mix/item4.jpg");
  background-position: center;
  background-size: cover;
}
* .nos .contenedor .item5 {
  background-image: url("../multimedia/bowl_mix/item5.jpg");
  background-position: center;
  background-size: cover;
}
* .nos .contenedor .item6 {
  background-image: url("../multimedia/bowl_mix/item6.jpg");
  background-position: center;
  background-size: cover;
}
* .nos .contenedor .item7 {
  background-image: url("../multimedia/bowl_mix/item7.jpg");
  background-position: center;
  background-size: cover;
}
* .nos .contenedor .item8 {
  background-image: url("../multimedia/bowl_mix/item8.jpg");
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  * .nos .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
    grid-gap: 5px;
    padding-top: 10px;
  }
  * .footer {
    height: 100px;
  }
}
@media only screen and (min-width: 719px) and (max-width: 1023px) {
  * .nos .contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 200px);
  }
  * .nos .contenedor .item {
    background-size: cover;
    background-position: center;
    border: 3px solid green;
  }
  * .nos .contenedor .item1 {
    grid-column: 1/4;
    grid-row: 5/7;
  }
  * .nos .contenedor .item2 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  * .nos .contenedor .item3 {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  * .nos .contenedor .item7 {
    grid-column: 3/4;
    grid-row: 3/5;
  }
}
@media only screen and (min-width: 1023px) {
  * .header {
    font-size: 25px;
  }
  * .nos .nos-gal {
    font-size: 40px;
    padding: 15px;
  }
  * .nos h3 {
    font-size: 30px;
  }
  * .nos .contenedor {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 450px);
  }
  * .nos .contenedor .item {
    filter: sepia(100%);
  }
  * .nos .contenedor .item:hover {
    filter: sepia(0%);
    transform: scale(1.06);
  }
  * footer p {
    font-size: 20px;
  }
  * footer a {
    font-size: 30px;
  }
}
* .contacto_formulario {
  background-color: #E1EEDD;
  height: 800px;
  display: block;
  width: 100%;
  padding: 15px;
}
* .contacto_formulario .left {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
* .contacto_formulario .left .icon {
  font-size: 20px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  color: green;
}
* .contacto_formulario .rigth {
  text-align: center;
  margin-top: 50px;
}
* .contacto_formulario .rigth h2 {
  font-size: 10px;
}
* .contacto_formulario .rigth h3 {
  font-style: italic;
  font-size: 12px;
}
@media only screen and (min-width: 480px) and (max-width: 1022px) {
  * .left .icon {
    font-size: 30px;
  }
  * .rigth h2 {
    text-align: center;
  }
  * .rigth h3 {
    text-align: center;
  }
  * .rigth form {
    text-align: center;
  }
}
@media only screen and (min-width: 1023px) {
  * .contacto_formulario {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: first baseline;
  }
  * .contacto_formulario .rigth {
    float: right;
  }
  * .contacto_formulario .rigth h2 {
    font-size: 30px;
  }
  * .contacto_formulario .rigth .left {
    justify-content: start;
    float: left;
  }
  * .contacto_formulario .rigth .left li {
    text-align: start;
  }
  * .contacto_formulario .rigth .left .icon {
    font-size: 20px;
  }
  * .header {
    font-size: 25px;
  }
}
* .bodyW {
  height: 100vh;
  width: 100%;
  background: url(../multimedia/desarrollador.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
* .bodyW .web {
  height: 500px;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
}
* .bodyW img {
  border-radius: 50%;
}
* .bodyW h1 {
  font-weight: 600;
}
* .bodyW h3 {
  color: rgba(255, 255, 0, 0.687);
}
* .bodyW ul {
  list-style: none;
  margin-top: 20px;
}
* .bodyW ul li {
  display: inline-block;
  padding: 10px;
  font-size: 30px;
}
* footer {
  background-color: black !important;
  margin-top: 0;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  * .footer {
    height: 100px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 719px) {
  * .web {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1023px) {
  * .header {
    font-size: 25px;
  }
  * footer p {
    font-size: 20px;
  }
  * footer a {
    font-size: 30px;
  }
}
* .container {
  height: 2000px;
  width: 100%;
  background-image: url(./multimedia/black-1072366_1280.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
* .container h1 {
  font-size: 30px;
  color: #E1EEDD;
  text-align: start;
  font-weight: bold;
  padding-left: 15px;
  font-family: "Skranji", cursive !important;
  text-transform: capitalize;
  text-shadow: -4px 4px 4px black;
}
* .container .cardpedido {
  height: 600px;
  width: 100%;
  text-align: center;
}
* .container .cardpedido .animacion {
  height: 130px;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
}
* .container .cardpedido .animacion .animacionbolw {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: inline-block;
  animation: bolwanimado 5s infinite;
}
@keyframes bolwanimado {
  0% {
    transform: translatex(1000px) scale(0.3);
  }
  50% {
    transform: rotate(-40deg) scale(1.1);
  }
  75% {
    transform: rotate(40deg);
  }
  100% {
    transform: translatex(1100px);
  }
}
* .container .cardpedido h2 {
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: "Tilt Prism", cursive;
  background-color: rgba(33, 125, 5, 0.7450980392);
}
* .container .cardpedido .tx1 {
  background-color: #ee9638;
}
* .container .cardpedido .tx2 {
  background-color: #ed8c25;
}
* .container .cardpedido .tx3 {
  background-color: #ea8214;
}
* .container .cardpedido .tx4 {
  background-color: #d77812;
}
* .container .cardpedido .tx5 {
  background-color: #c56d10;
}
* .container .cardpedido .tx6 {
  background-color: #b2630f;
}
* .container .cardpedido h3 {
  color: white;
  padding: 3px;
  border-radius: 10px solid #F0A04B;
}
* .container .cardpedido section {
  display: inline-block;
}
* .container .rounded-circle {
  height: 90px;
  width: 90px;
  padding: 5px;
  margin-right: 10px;
}
* .container input {
  text-align: center;
}
* .container P {
  font-size: 10px;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  * .container {
    height: 1350px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  * .container {
    height: 1200px;
  }
}
@media only screen and (min-width: 1023px) {
  * .container {
    height: 1000px;
    padding: 15px;
  }
  * .header {
    font-size: 25px;
  }
}/*# sourceMappingURL=estilo.css.map */