// FUENTES IMPORTADAS 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@200&family=Roboto:wght@300&family=Tilt+Prism&display=swap'
);

//MI PALETA
$COLOR1:#F0A04B ; 
$COLOR2:#E1EEDD;
$COLOR3orange:#D95204;
$COLOR3green:#1e5128e2;

//MIS FUENTES
$fontprincipal: 'Roboto', sans-serif;
$fontaux: 'Tilt Prism', cursive; 
$fontpedido:'Skranji', cursive;

//MI MIXIN 
@mixin h-w($higth, $width){
    height: $higth;
    width: $width;
}
@mixin clasic($higth, $width, $bgr, $padding){
    height: $higth;
    width: $width;
    background-color: $bgr;
    padding: $padding;
}

@mixin fuente($fontsize, $color, $textaling){
    font-size: $fontsize;
    color: $color;
    text-align: $textaling;
}
@mixin brg($brgsz, $brgps){
    background-size: $brgsz;
    background-position: $brgps;
}

*{
font-family: $fontprincipal;
//SECCIION MAIN STAR 

.main-pedido {
    @include clasic(350px, 100%, gray , 0px );
    padding-left: 10px; 
    background-image: url(../multimedia/index/Fondo.jpg);
    @include brg(cover, center);
    display: flex;
    justify-content: center;
    align-items: center;  
    .pedido-box{
        @include clasic(230px,70% ,rgba(99, 81, 16, 0.808) ,10px );
    border: 3px solid orange;     
    }
        h1{
        color: black;
        font-weight: 600;
        text-shadow: 2px 2px $COLOR1 ;
        text-transform: uppercase;
        font-size: 23px;
        font-family: 'Raleway', sans-serif; 
        }
        p{
        color: white;
        text-align: justify;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        }
        a{
        color: white;
        background-color: orange;
        width: 100px;
        padding: 5px;
        text-align: center;
        border-radius: 3px;
        text-decoration: none;
        }
            a:hover{
            color:orange;  
            background-color: white;
            }      
}
//SECCIION MAIN END 
//SECCIION ESPECIALIDADES STAR 
.texto-n-e{
    @include fuente(20px, $COLOR1, center);
    font-family: 'Roboto', sans-serif;
    padding: 10px;   
} 
.nesp{
    @include h-w(1200px, 100%);
    background-color:$COLOR2;
    display: flex;
    flex-direction: column;
    align-items:center;                                                  
    .pollo-plancha{
    @include clasic(350px, 90%, rgb(36,33,0) , 5px );
    background: linear-gradient(90deg, rgb(43, 40, 5) 0%, rgb(50, 59, 8) 100%, rgba(89, 255, 0, 0.53) 100%);
    border: 3px solid #F0A04B;
    border-radius: 5px;
    margin: 5px;
    display: block;
    }
    h3{
    @include fuente(15px, #f39e43, center);
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    }
    p{
    @include fuente(15px, white, start);}

    img{
    @include h-w(140px, 50%);    
    margin-left: 25%;
    }
    .rounded{
    @include h-w(140px, 50%);
    margin-left: 25%;}
    @each $esp in especialidad1,especialidad2,especialidad3,especialidad4 {
        .#{$esp} {
        background-image: url("../multimedia/especialidades/#{$esp}.jpg");
        @include brg(cover, center);
        }
    }
} 
//SECCIION ESPECIALIDADES END

//HORARIOS STAR
#hora{
    @include h-w(150px, 100%) ; 
    padding: 4px;
    background-color: $COLOR3green;
    color: white;
    h2{
        text-align: center;
        font-size: 20px;
    }
    li{
        text-align: center;
        list-style: none;
        font-size: 15px;
    }
    
}
//HORARIOS END
//CONTACTO STAR
.contacto{
background-color: #E1EEDD; 
height: 420px;
    h2{
    @include fuente(20px, black, center);  
    background-color:#E1EEDD;
    padding-top: 5px;
    }
    .list-contacto{
    list-style: none;
    padding: 1px;
    text-align: left;
    font-size: 15px;
    }
    .mapa{
    display: flex;
    justify-content: center;
    height: 190px;
    }
}
//CONTACTO END
//FOOTER STAR  
.footer{
    background-color: #9D5C0D;
    margin-top: 3px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    h2{
    @include fuente(20px, $COLOR2, center);
    padding: 3px;
    }
    p{
    @include fuente(12px, $COLOR2, center);
    }
}
// FOOOTER END 
//INICIO RESPONSIVE 
//@media only screen and (min-width: 480px)and (max-width: 768px){
@media only screen and (min-width: 600px)and (max-width: 719px){
//Sector Nuestras especialidades (index)
    .nesp{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 800px;
    .pollo-plancha{
    @include h-w(350px, 300px);
    }
    .text-pollo{
    text-align: center;
    width: 100%;
    font-size: 12px;
    } 
    } 
}
@media only screen and (min-width: 719px) and (max-width: 1023px){
//Sector Nuestras especialidades (index)
    .texto-n-e{
    font-size: 40px;
    text-align: center;
    }
    .nesp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .pollo-plancha{
        @include h-w(250px, 75%);
        align-items: center;
        align-content: space-between;
        display: flex;
        padding: 5px;
        .text-pollo{
        @include fuente(20px, white, justify);
        float: left;
        width: 400px;
        padding: 3px;
        }
        .rounded {
        @include h-w(200px, 200px);
        float: right;
        }
        h3{
        font-size: 20px;
        }
        p{
        font-size: 15px;
        padding: 3px;
        }
        }
    }
    #hora{
        height: 170px;
        padding: 3px;
        h2{
            font-size: 40px;
        }
        li{
            font-size: 20px;
        }
    }
    .contacto{ 
        height: 500px;
        h2{
        font-size: 40px;
        padding-top: 20px;
        }
        .list-contacto{
        font-size: 20px;
        display: flex;
        }
        .mapa{
        display: flex;
        justify-content: center;
        height: 240px;  
        }
    }
} 
@media only screen and (min-width: 1023px) {
.header{
    font-size: 25px ;     
}
//Main Index 
.main-pedido {
    height: 450px;
    .pedido-box{
    @include h-w(300px, 60%);
    padding: 15px;
    border: 3px solid orange;
    h1{
        font-size: 40px;
    }
    p{
        font-size: 30px;
    }
    a{
        width: 200px;
        padding: 10px;
        font-size: 20px;
    }
    }
}
//Sector especialidades (index)
.texto-n-e{
font-size: 45px;
text-align: center;
}
.nesp{
    justify-content: space-around;
    .pollo-plancha{
    @include h-w(250px, 70%);
    align-items: center;
    align-content: space-around;
    display: flex;
    padding: 5px;
        .rounded {
        @include h-w(100%, 60%);
        float: right;
    }
        h3{
        font-size: 25px;
    }
        p{
        font-size: 22px;
        padding: 3px;
        margin-left: 20px;
    }
    }
}
//Sector horarios (index) 
#hora{
    height: 180px;
    padding: 3px;
    h2{
        font-size: 40px;
    }
    li{
        font-size: 20px;
    }
}

//Sector contacto (index) 
.contacto{ 
    height: 500px;
    h2{
    font-size: 40px;
    padding-top: 20px;
    }
    .list-contacto{
    font-size: 20px;
    display: flex;
    }
    .mapa{
    display: flex;
    justify-content: center;
    height: 250px;  
    }
}
}

@import "_nosotros.scss";
@import "_contacto.scss";
@import "_creadorweb.scss";
@import "_pedido.scss";






}